#tHBox{
  -fx-border-color: rgb(9, 201, 226);
  -fx-border-insests: 5;
  -fx-border-width: 2;
  -fx-border-radius: 10.0;
  -fx-background-color: transparent;
}

#tLabel{
  -fx-text-align: center;
  -fx-font-size: 10;
  -fx-font-weight: bold;
  -fx-font-style: normal;
  -fx-font-family: 'Times New Roman', Times, serif;
  -fx-text-fill: rgb(40, 12, 92);
}