
.jfx-tab-pane {
    -fx-background-color: #e6e6e6;
}

.tab {
    -fx-background-color: rgba(0,0,0,0);
}

.jfx-tab-pane>*.tab-header-area>*.tab-header-background
{
    -fx-background-color: -fx-outer-border, -fx-text-box-border, #333333;
}

.tab-label {
    -fx-text-fill: #e6e6e6;
}

.tab:selected .tab-label {
    -fx-text-fill: rgb(0, 0, 0);
}

.tab:selected {
    -fx-background-color: #F3F3F3;
}
.jfx-tab-pane .tab-selected-line{
    -fx-border-color: black;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-radius: 0px;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-color: #4d1a4dff;
}
.jfx-tab-pane .tab-header-area .tab-down-button {
    -fx-opacity:0;
}